body{
    background-color: rgb(75, 74, 74);
    color: antiquewhite;
}
.jumbo-color{
    background-color: rgb(83, 81, 81);
}
.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
 }