
{% extends 'base.html' %}
{% block content %}

    <form action="" method="POST">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        {% for fm in form %}
        <div class="col-md-8" style="margin-left: 400px; margin-top: 20px;">
            {{fm.label_tag}} {{fm}} <small>{{fm.errors|striptags}}</small>
        </div>
        {% endfor %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p>{{error}}</p>
        {% endfor %}
        {% endif %}
        <div style="margin-top: 20px;">
            <center><input type="submit" value="submit" class="btn btn-primary btn-sm">
            </center>
        </div>
    </form>
{% endblock content %}