{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .formStyle {
        width: 200px;
        clear: left;
        text-align: left;
        font-weight: bold;
        padding-right: 10px;
    }

    .forminput,.formStyle {
        float: left;
    }
</style>
<div>
    <h1 class="text-center">Register</h1>
    <form method="POST" class="row g-3" novalidate>
        {% csrf_token %}
        <!-- {{ register_form|crispy }} -->
        {% for fm in register_form %}
        <div class="col-md-8" style="margin-left: 400px;">
            <span class="formStyle"> {{fm.label_tag}} </span> <span class="forminput"> {{fm}}
            </span><small>{{fm.errors|striptags}}</small>
        </div>
        {% endfor %}

        <center><button class="btn btn-primary col-auto " type="submit">Register</button></center>
        {% if register_form.non_field_errors %}
        {% for error in register_form.non_field_errors %}
        <p>{{error}}</p>
        {% endfor %}
        {% endif %}
    </form>
    <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>
{% if messages %}
{% for message in messages %}
{{message}}
{% endfor %}
{% endif %}

{% endblock %}